### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/ProcessorSimulator/OperatingSystem.java
/src/ProcessorSimulator/OperationInfo.java
/src/ProcessorSimulator/Output.java
/src/ProcessorSimulator/Process.java
/src/ProcessorSimulator/Processor.java
